<div class="thumbnail">
    {% if course.image %}
    <a href="{{ course.get_absolute_url }}"><img src="{{ course.image.url }}" class="img-responsive" alt="..."></a>
    {% endif %}
    <div class="caption">
        <h3>{{ course.title }}</h3>
        <p>{{ course.description|truncatechars:100 }}</p>
        
        <div>
            <a href="{{ course.get_absolute_url }}" class="btn btn-primary" role="button">View</a> {% if course.is_owner %}
            <a href="#" class="btn btn-success">Un-purchase</a> 
            {% else %}
            <a href="{{ course.get_purchase_url }}" class="btn btn-success">Purchase - {{ course.display_price }}</a> 
            {% endif %}
        </div>
    </div>
</div>
