{% extends 'base.html' %}
{% load humanize %}

{% block title %}Video Detail | {{ block.super }}{% endblock %} {% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        {{ object.title }} {{ object.embed_code|safe }} <br>{{ object.updated }} <br>{{ object.id }} <br> {{ object.price|floatformat:2|intcomma }} <br> {{ object.display_price }}
        <ul>
            {% for item in object.lecture_set.all %}
            <li>
                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
            </li>
            {% empty %}
            <li>No item found</li> 
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
