{% extends 'base.html' %} {% load humanize %} {% block title %}Course Detail | {{ block.super }}{% endblock %} {% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ course.title }}</h1> {% if object.image %}
        <img src="{{ object.image.url }}" alt="" class="img-responsive"> {% endif %}
        <!-- {{ object.embed_code|safe }} <br>{{ object.updated }}  -->
        <!-- {{ object.id }} {{ object.price|floatformat:2|intcomma }} -->
        {% if not object.is_owner %}
        <a href="{{ object.get_purchase_url }}" class="btn btn-success">{{ object.display_price }} - Purchase</a>
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Lecture</h3>
                <div class="list-group">
                    {% for item in object.lecture_set.all %}
                    <a class="list-group-item lead" {% if object.is_owner or item.free %} href="{{ item.get_absolute_url }}" {% endif %}>{{ item.title }}{% if item.free %} - <small>Free Preview</small>{% endif %}</a> {% empty %}
                    <div class="lead">Lecture coming soon</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
