{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-sm-12">
        <h1>Categories</h1>
    </div>
    <div class="col-sm-4">
        <div class="list-group">
            {% for item in object_list %}
            <a href="{{ item.get_absolute_url }}" class="list-group-item">
                {{ item.title }} 

                <span class="badge">{{ item.primary_category.all.count }} Features</span>
                <span class="badge">{{ item.course_length }} Courses</span>
            </a>


            {% if forloop.counter|divisibleby:3 %}
				</div></div><div class="col-sm-3"><div class="list-group">
            {% endif %}
            <!-- {% cycle '' '</div></div><div class="col-sm-3"><div class="list-group">' %} -->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
